/*html {*/
/*  background: #ffffff; !* fallback for old browsers *!*/
/*}*/

/*body {*/
/*  background-color: transparent;*/
/*}*/

.inboxLogo {
  margin-top: 1.3%;
}

.logo {
  width: 12%;
  height: 12%;
}



