.logo {
    max-width: 30%;
    max-height: 30%;
    margin-bottom: 30px;
}

.button{
    width: 70%;
}

.frm {
    height: auto;
    max-width: 800px;
    min-width: 320px;
    padding: 30px;
    border: rgb(217,222,226) solid 1px;
    border-radius: 10px;
}

.font{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}

.formControl{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.fonts{
    text-align: left;
}

@media only screen
and (min-device-width : 320px) and (max-device-width: 374px){
    .frm {
        height: auto;
        min-width: 200px;
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .formControl{
        width:auto;
        margin-left: auto;
        margin-right: auto;
    }
    .button{
        width: 100%;
    }

}


@media only screen
and (min-device-width : 375px) and (max-device-width: 424px){
    .frm {
        height: auto;
        min-width: 200px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .formControl{
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    .button{
        width: 90%;
    }
    .font{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
    }
}

@media only screen
and (min-device-width : 425px) and (max-device-width: 767px){
    .frm {
        height: auto;
        min-width: 200px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .formControl{
        width:70%;
        margin-left: auto;
        margin-right: auto;
    }
    .font{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1em;
    }
}

@media only screen
and (min-device-width : 768px) and (max-device-width : 1023px){
    .frm {
        height: auto;
        margin-top: 10%;
        max-width: 60%;
        margin-bottom: 10%;
        margin-left: 20%;

    }
    .formControl{
        width:65%;
        margin-left: auto;
        margin-right: auto;
    }

    .button{
        width: 65%;
    }
    .font{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
    }
}

@media only screen
and (min-device-width : 1024px) and (max-device-width : 1439px) {
    .frm {
        height: auto;
        margin-top: 10%;
        max-width: 60%;
        margin-bottom: 10%;
        margin-left: 20%;

    }
    .formControl{
        width:65%;
        margin-left: auto;
        margin-right: auto;
    }

    .button{
        width: 65%;
    }
    .font{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
    }
}

@media only screen
and (min-device-width : 1440px) and (max-device-width : 2559px) {
    .frm {
        height: auto;
        margin-top: 10%;
        max-width: 50%;
        margin-bottom: 5%;
        margin-left: 25%;

    }
    .formControl{
        width:65%;
        margin-left: auto;
        margin-right: auto;
    }

    .button{
        width: 65%;
    }
    .font{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
    }
}